// one color options

$email-main :#44475A;
$github-main :#381b6e;
$linkedin-main:#0A66C2;
$spotfy-main : #1db954;
$twitter-main :#0076a5;
$youtube-main :#ca0000;

// gradient colors 

$ig-one : #8134af;
$ig-two :#f43f60;
$ig-three:#fa6e3b;