@media only screen and (max-width: 500px) {

    :root {

        font-size: 55%;
    }
}

@media only screen and (min-width:501px) {

    :root {

        font-size: 50%;
    }
}

@media only screen and (min-width:1700px) {

    :root {

        font-size: 70%;
    }
}

@media only screen and (min-width:2000px) {

    :root {

        font-size: 80%;
    }
}

@media only screen and (min-width:2400px) {

    :root {

        font-size: 100%;
    }
}

@media only screen and (min-width:3840px) and (min-height:2160px) {

    :root {

        font-size: 150%;
    }
}