/*
 {
    "name": "Dracula",
       "cursorColor": "#F8F8F2",
       "selectionBackground": "#44475A",
       "background": "#282A36",
       "foreground": "#F8F8F2",
       "black": "#21222C",
       "blue": "#BD93F9",
       "cyan": "#8BE9FD",
       "green": "#50FA7B",
       "purple": "#FF79C6",
       "red": "#FF5555",
       "white": "#F8F8F2",
       "yellow": "#F1FA8C",
       "brightBlack": "#6272A4",
       "brightBlue": "#D6ACFF",
       "brightCyan": "#A4FFFF",
       "brightGreen": "#69FF94",
       "brightPurple": "#FF92DF",
       "brightRed": "#FF6E6E",
       "brightWhite": "#FFFFFF",
       "brightYellow": "#FFFFA5"
 }
*/
/*

if you see duplicate code like: 

"
   width: 3rem;
   width: clamp (2rem, 5vw, 5rem)
"

the answer is that some browsers are not compatible with 'clamp ()'so I did this to reverse this problem,
of course there will be a difference between what I want and the end result,
but it is only until the browsers provide full support for the 'clamp ()'
*/
:root {
  background: #21222C;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background: #343747;
  border-radius: 10rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #44475A;
}

::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 5px #fff2;
}

* {
  box-sizing: border-box;
  text-shadow: 0 0 5rem #0005;
  font-weight: 600;
  padding: 0;
  margin: 0;
  z-index: 100;
}

body {
  background: #21222C;
  display: flex;
  height: 100vh;
}

li {
  list-style: none;
}

a:active {
  transform: scale(0.98);
}

.app {
  margin: 0 auto;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  max-height: 90rem;
}

@media only screen and (max-width: 500px) {
  :root {
    font-size: 50%;
  }
}
@media only screen and (min-width: 500px) {
  :root {
    font-size: 45%;
  }

  .app {
    margin: auto;
  }
}
@media only screen and (min-width: 1020) {
  :root {
    font-size: 50%;
  }
}
@media only screen and (min-width: 1600px) {
  :root {
    font-size: 65%;
  }
}
@media only screen and (min-width: 2000px) {
  :root {
    font-size: 75%;
  }
}
@media only screen and (min-width: 2400px) {
  :root {
    font-size: 100%;
  }
}
@media only screen and (min-width: 3840px) and (min-height: 2160px) {
  :root {
    font-size: 150%;
  }
}
section#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;
  width: 100%;
  z-index: 100;
}
section#profile .profile__pic {
  border-radius: 100%;
  height: 13rem;
  height: clamp(9rem, 28vw, 15rem);
  width: 13rem;
  width: clamp(9rem, 28vw, 15rem);
  margin: 1rem;
  overflow: hidden;
}
section#profile .profile__pic img {
  image-rendering: pixelated;
  height: 100%;
  width: 100%;
}
section#profile h1 {
  color: #fff;
  font-size: 2.7rem;
  font-size: clamp(16px, 5.5vw, 3rem);
  margin: 1rem 0;
}
section#profile span {
  color: #fff;
  font-size: 1.4rem;
  font-size: clamp(13px, 2.8vw, 2rem);
  font-weight: 500;
  opacity: 0.7;
}

#options {
  display: flex;
  justify-content: center;
  animation-delay: 0.1s;
}
#options ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  gap: clamp(1rem, 3vw, 2.5rem);
  height: 45rem;
  min-height: clamp(30rem, 60vh, 50rem);
  width: 90%;
  width: clamp(27rem, 90vw, 50rem);
}
#options ul .option {
  position: relative;
}
#options ul .option a {
  background: transparent;
  background-size: 120%;
  background-position: bottom center;
  border-radius: 1.4rem;
  border: solid 0.2rem #0000;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 2rem;
  font-size: clamp(16px, 6vw, 2.5rem);
  list-style: none;
  height: 100%;
  padding: 2rem 0;
}
#options ul .option a i {
  height: 4.5rem;
  height: clamp(4rem, 5vw, 5rem);
  width: 100%;
  width: clamp(4rem, 5vw, 5rem);
}
#options ul .option a i svg {
  width: 100%;
  height: 100%;
}
#options ul .option a span {
  color: #fff;
}
#options ul .option a:hover {
  border: solid 0.2rem #fff;
}
#options ul .option--email a.mail {
  background: #44475A;
  z-index: 1;
}
#options ul .option--email .mail-info {
  background: #44475A;
  border: none;
  border-radius: 100%;
  box-shadow: 0 0 5px #0003;
  display: block;
  cursor: help;
  width: 4.4rem;
  width: clamp(4rem, 2vw, 6rem);
  height: 4.4rem;
  height: clamp(4rem, 2vw, 6rem);
  position: absolute;
  top: -1rem;
  right: -1rem;
  overflow: hidden;
}
#options ul .option--email .mail-info svg {
  width: 4rem;
  height: 4rem;
}
#options ul .option--email:hover button.mail-info {
  display: block;
}
#options ul a.yt {
  background: #ca0000;
}
#options ul a.ig {
  background-image: linear-gradient(to left bottom, #8134af, #f43f60, #fa6e3b);
}
#options ul a.tt {
  background: #0076a5;
}
#options ul a.gh {
  background: #381b6e;
}
#options ul a.lkd {
  background: #0A66C2;
}

@media only screen and (max-width: 600px) {
  section#options ul .option--mail .mail-info {
    display: none;
  }
}
footer {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
footer p {
  color: #fff;
}
footer p a {
  color: #8BE9FD;
  text-decoration: none;
}

.email-modal-overlay {
  background: #000b;
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 101;
}
.email-modal-overlay .click-to-exit {
  cursor: pointer;
  position: fixed;
  z-index: 101;
  min-width: 100%;
  min-height: 100vh;
}

#email-modal {
  background: #343747;
  border-radius: max(20px, 2rem);
  font-weight: 500;
  width: min(60rem, 95vw);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
}
#email-modal .email-modal-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3.5rem 4rem 1rem 4rem;
}
#email-modal h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}
#email-modal span {
  color: #fff;
  font-size: max(14px, 1.8rem);
  font-weight: inherit;
  margin: 1rem 0;
  opacity: 0.7;
}
#email-modal .email-view-box {
  margin: 2rem 0;
}
#email-modal #email-view {
  background: transparent;
  border: solid 0.3rem #44475A;
  border-radius: 1rem;
  color: #fff;
  text-align: center;
  font-size: max(16px, 2.5rem);
  font-weight: 600;
  height: 100%;
  width: 100%;
  padding: 2rem;
}
#email-modal #email-view:active {
  transform: scale(0.98);
}
#email-modal .email__action-button {
  background: #343747;
  border: none;
  border-top: solid 0.3rem #44475A;
  border-radius: 0 0 2rem 2rem;
  cursor: url("../assets/cursor-copy.cur"), pointer;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2rem 0;
  transition: filter 0.3s;
}
#email-modal .email__action-button span {
  color: #fff;
  font-size: max(18px, 2.2rem);
  font-weight: 500;
  opacity: 0.8;
}
#email-modal .email__action-button:hover {
  filter: brightness(0.8);
}

.modal--active {
  display: flex;
}

@media (max-width: 380px) {
  .email-modal-overlay #email-modal .email-modal-content {
    padding: 2rem;
  }
  .email-modal-overlay #email-modal #email-view {
    padding: 1rem;
  }
}
#copied-alert {
  background-color: #44475A;
  border: solid 1px #44475A33;
  border-radius: 1rem;
  box-shadow: 0 0 50px #44475A55;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-size: clamp(13px, 5vw, 2.5rem);
  width: 80vw;
  max-width: 50rem;
  width: clamp(25rem, 80vw, 50rem);
  padding: 2rem 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.offScreen {
  transition-duration: 0.15s;
  top: -15rem;
}

.onScreen {
  transition-duration: 0.3s;
  top: 5rem;
}

@keyframes down-anim {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes up-anim {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Appear {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.up-anim {
  animation-name: up-anim;
}

.down-anim {
  animation-name: down-anim;
}

.up-anim,
.down-anim {
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
}

.appearAnim {
  animation-name: Appear;
  animation-duration: 0.2s;
  animation-fill-mode: backwards;
}

/*# sourceMappingURL=app.css.map */
