@use '../abstracts/colors/'as color;

.email-modal-overlay {

   background: color.$overlay-background;

   display        : none;
   align-items    : center;
   justify-content: center;

   height: 100vh;
   width : 100vw;

   position: absolute;
   top     : 0;
   left    : 0;

   overflow: hidden;
   z-index : 101;

   &.--active {

      display: flex;

      #email-modal {

         margin-bottom: 0px;
         opacity      : 1;
      }
   }

   &.--inactive {

      #email-modal {

         margin-bottom: -25px;
         opacity      : 0;
      }
   }

   .click-to-exit {

      position: fixed;
      inset: 0;
      z-index   : 101;
      min-width : 100%;
      min-height: 100vh;
   }

   #email-modal {

      animation-delay: .2;

      background   : color.$second-color;
      border-radius: 2rem;

      font-weight: 500;

      width    : 90vw;
      max-width: 60rem;
      width    : min(60rem, 95vw);

      transition   : all .15s;
      z-index      : 105;

      .email-modal-content {

         text-align: center;

         display        : flex;
         flex-direction : column;
         align-items    : center;
         justify-content: space-around;

         padding: 3.5rem 4rem 1rem 4rem;
      }

      h2 {

         font-size    : 3rem;
         margin-bottom: .5rem;
         opacity      : .8;
      }

      span {

         color      : color.$white;
         font-size  : 1.8rem;
         font-size  : max(14px, 1.8rem);
         font-weight: inherit;

         margin : 1rem 0;
         opacity: .7;
      }

      .email-view-box {

         margin: 2rem 0;
      }

      #email-view {

         background   : transparent;
         border       : solid .3rem color.$third-color;
         border-radius: 1rem;
         color        : color.$white;
         text-align   : center;
         font-size    : 2.5rem;
         font-size    : max(16px, 2.5rem);

         font-weight: 600;

         height: 100%;
         width : 100%;

         padding: 2rem;

         &:active {

            transform: scale(.98);
         }
      }

      .email__action-button {

         background   : color.$second-color;
         border       : none;
         border-top   : solid .3rem color.$third-color;
         border-radius: 0 0 2rem 2rem;
         cursor       : url("../assets/cursor-copy.cur"), pointer;

         position: relative;
         bottom  : 0;

         width: 100%;

         padding: 2rem 0;

         transition: filter .3s;

         span {

            color      : color.$white;
            font-size  : max(18px, 2.2rem);
            font-weight: 500;

            opacity: .8;
         }

         &:hover {

            filter: brightness(.8);
         }
      }
   }
}

@media (max-width: 380px) {

   .email-modal-overlay {

      #email-modal {



         .email-modal-content {

            padding: 2rem;
         }

         #email-view {

            padding: 1rem;
         }
      }

   }
}
@media (min-width: 1280px) {
   
   .email-modal-overlay {

      .click-to-exit {

         cursor: pointer;
      }
   }
}