//

@use '../abstracts'as var;

footer {

   font-size: 13px;

   display        : flex;
   align-items    : center;
   justify-content: center;

   width: 100%;

   p {

      color: var.$white;

      a {

         color          : var.$blue;
         text-decoration: none;
      }
   }
}