@use '../abstracts'as var;

.modal-overlay {

   background: var.$overlay-background;

   display: none;

   height: 100vh;
   width : 100vw;

   position: fixed;

   overflow: hidden;
   z-index : 101;

   .click-to-exit {

      cursor: pointer;

      position: fixed;

      z-index   : 101;
      min-width : 100%;
      min-height: 100vh;
   }

   .modal-box {

      background   : var.$second-color;
      border-radius: 2rem;

      font-weight: 500;

      display        : flex;
      flex-direction : column;
      align-items    : center;
      justify-content: center;

      width: 90vw;
      width: min(60rem, 95vw);

      padding: 6rem 3rem 10rem 3rem;

      position : fixed;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);

      z-index: 102;

      >button {

         background   : var.$second-color;
         border       : none;
         border-top   : solid .2rem var.$light-shadow;
         border-radius: 0 0 2rem 2rem;
         cursor       : url("../assets/cursor-copy.cur"), pointer;

         color      : var.$white;
         font-size  : 2.2rem;
         font-weight: inherit;

         position: absolute;
         bottom  : 0;

         width: 100%;

         padding   : 2rem;
         transition: filter .3s;

         &:hover {

            filter: brightness(.8);
         }

      }

      p {

         color      : var.$white;
         font-size  : 2.8rem;
         font-size  : clamp(13px, 4.5vw, 2.8rem);
         font-weight: inherit;
      }

      input {

         background   : transparent;
         border       : none;
         border       : solid 1px var.$third-color;
         border-radius: 1rem;
         color        : var.$white;
         text-align   : center;
         font-size    : 2.5rem;
         font-size    : clamp(13px, 4vw, 2.5rem);
         font-weight  : 500;

         height: 100%;
         width : 100%;

         padding   : 2rem;
         margin-top: 4rem;

         &:active {
            transform: scale(.95);
         }
      }
   }
}

.modal-overlay.active {

   display: flex;
}

@media (max-width: 380px) {

   .modal-overlay {

      .modal-box {

         padding: 4rem 1.5rem 10rem 1.5rem;

         .inputBox {

            input {
               font-size: clamp(13px 5vw, 6rem);
            }
         }
      }
   }
}