/**/
/*

if you see duplicate code like: 

"
   width: 3rem;
   width: clamp (2rem, 5vw, 5rem)
"

the answer is that some browsers are not compatible with 'clamp ()'so I did this to reverse this problem,
of course there will be a difference between what I want and the end result,
but it is only until the browsers provide full support for the 'clamp ()'

*/
:root {
  color: #fff;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  text-shadow: 0 0 5rem #0005;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

body {
  background: #21222C;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  width: 100%;
}

li {
  list-style: none;
}

a:active {
  transform: scale(0.95);
}

body {
  display: flex;
  flex-direction: column;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/**/
header#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: clamp(2.5rem, 1vw, 10rem);
  width: 100%;
}
header#header .picBox {
  border-radius: 100%;
  height: 13rem;
  height: clamp(9rem, 28vw, 15rem);
  width: 13rem;
  width: clamp(9rem, 28vw, 15rem);
  margin: 1rem;
  overflow: hidden;
}
header#header .picBox img {
  height: 100%;
  width: 100%;
}
header#header h1 {
  color: #fff;
  font-size: 2.7rem;
  font-size: clamp(16px, 6vw, 3rem);
  margin: 1rem 0;
}
header#header span {
  color: #ddd;
  font-size: 1.4rem;
  font-size: clamp(13px, 3vw, 2rem);
  font-weight: 500;
}

/**/
section#options {
  display: flex;
  justify-content: center;
  animation-delay: 0.1s;
}
section#options ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  gap: clamp(.5rem, 3.5vw, 3rem);
  height: 45rem;
  height: clamp(30rem, 60vh, 50rem);
  width: 90%;
  width: clamp(27rem, 90vw, 50rem);
}
section#options ul .option a {
  border-radius: 1.4rem;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-size: clamp(16px, 6vw, 2.5rem);
  list-style: none;
  height: 100%;
  padding: 2rem 0;
}
section#options ul .option a i {
  height: 4.5rem;
  height: clamp(4rem, 5vw, 5rem);
  width: 100%;
  width: clamp(4rem, 5vw, 5rem);
}
section#options ul .option a i svg {
  width: 100%;
  height: 100%;
}
section#options ul .option a p {
  color: #fff;
  margin-top: 1rem;
}
section#options ul .option a:hover {
  border: solid 2px #fff;
}
section#options ul .yt {
  background: #ca0000;
}
section#options ul .ig {
  background-image: linear-gradient(to left bottom, #8134af, #a42aa4, #c02095, #d61f86, #e62975, #ee336b, #f43f60, #f84c56, #fa544f, #fa5d48, #fb6542, #fa6e3b);
}
section#options ul .tt {
  background-color: #0076a5;
}
section#options ul .gh {
  background: #381b6e;
}
section#options ul .lkd {
  background-color: #0A66C2;
}
section#options ul .mailBox {
  position: relative;
  width: 100%;
  height: 100%;
}
section#options ul .mailBox a {
  background: #282A36;
  z-index: 1;
}
section#options ul .mailBox .mailInfo {
  background: #282A36;
  border: none;
  border-radius: 100%;
  box-shadow: 0 0 5px #0003;
  display: block;
  cursor: pointer;
  width: 4.4rem;
  width: clamp(4rem, 2vw, 6rem);
  height: 4.4rem;
  height: clamp(4rem, 2vw, 6rem);
  position: absolute;
  top: -1rem;
  right: -1rem;
  z-index: 20;
  overflow: hidden;
}
section#options ul .mailBox .mailInfo svg {
  width: 100%;
  height: 100%;
}
section#options ul .mailBox:hover button.mailInfo {
  display: block;
}

@media only screen and (max-width: 600px) {
  section#options ul .mailBox .mailInfo {
    display: none;
  }
}
/**/
footer {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
footer p {
  color: #fff;
}
footer p a {
  color: #10a6d3;
  text-decoration: none;
}

/**/
.modalOverlay {
  background: #000b;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 200;
}
.modalOverlay .modalBox {
  background: #44475A;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  width: clamp(25rem, 90vw, 60rem);
  padding: 6rem 2rem;
  padding: 6rem clamp(.5rem, 4vw, 8rem);
  position: relative;
}
.modalOverlay .modalBox > button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 25px;
  position: absolute;
  top: 3rem;
  top: clamp(2rem, 2vw, 8rem);
  right: 3rem;
  right: clamp(2rem, 2vw, 8rem);
  outline-offset: 5px;
}
.modalOverlay .modalBox > button:active {
  transform: scale(0.95);
}
.modalOverlay .modalBox > button img {
  width: 3rem;
}
.modalOverlay .modalBox p {
  color: #fff;
  font-size: 2.8rem;
  font-size: clamp(13px, 5vw, 3rem);
  font-weight: 500;
}
.modalOverlay .modalBox .inputBox {
  border: solid 1px #282A36;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0.5rem;
  margin-top: 2rem;
}
.modalOverlay .modalBox .inputBox input {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 2.5rem;
  font-size: clamp(13px, 5vw, 3rem);
  height: 100%;
  width: 101%;
}
.modalOverlay .modalBox .inputBox input:active {
  transform: scale(0.95);
}
.modalOverlay .modalBox .inputBox button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline-offset: 5px;
  width: 35px;
  margin-left: 5px;
  position: relative;
}
.modalOverlay .modalBox .inputBox button:active {
  transform: scale(0.95);
}
.modalOverlay .modalBox .inputBox button img {
  width: 3rem;
}
.modalOverlay .modalBox .inputBox button:hover::after {
  content: "copiar";
  background: #282A36;
  border-radius: 1rem;
  color: #ffff;
  font-size: 2rem;
  font-size: clamp(13px, 2vw, 2rem);
  position: absolute;
  top: -40px;
  right: -10px;
  padding: 0.5rem;
}

.active {
  display: flex;
}

@media (max-width: 380px) {
  .modalOverlay .modalBox .inputBox input {
    font-size: clamp(13px 5vw, 6rem);
  }
}
/**/
@keyframes Down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Appear {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.down {
  animation-name: Down;
  animation-duration: 0.4s;
  animation-fill-mode: backwards;
}

.appearAnim {
  animation-name: Appear;
  animation-duration: 0.2s;
  animation-fill-mode: backwards;
}

/**/
@media only screen and (max-width: 500px) {
  :root {
    font-size: 55%;
  }
}
@media only screen and (min-width: 501px) {
  :root {
    font-size: 50%;
  }
}
@media only screen and (min-width: 1700px) {
  :root {
    font-size: 70%;
  }
}
@media only screen and (min-width: 2000px) {
  :root {
    font-size: 80%;
  }
}
@media only screen and (min-width: 2400px) {
  :root {
    font-size: 100%;
  }
}
@media only screen and (min-width: 3840px) and (min-height: 2160px) {
  :root {
    font-size: 150%;
  }
}
/**/
#copy__popup-alert {
  background-color: #44475A;
  border: solid 1px #fff2;
  border-radius: 1rem;
  box-shadow: 0 0 50px #0005;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-size: clamp(13px, 5vw, 2.5rem);
  width: 80vw;
  max-width: 50rem;
  width: clamp(25rem, 80vw, 50rem);
  padding: 2rem 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.offScreen {
  transition-duration: 0.15s;
  top: -10rem;
}

.onScreen {
  transition-duration: 0.3s;
  top: 5rem;
}

/*# sourceMappingURL=app.css.map */
