//
@use '../abstracts'as var;

#options {

   display        : flex;
   justify-content: center;

   animation-delay: .1s;

   ul {

      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows   : 1fr 1fr 1fr;

      gap: 2rem;
      gap: clamp(1rem, 3vw, 2.5rem);

      height: 45rem;
      min-height: clamp(30rem, 60vh, 50rem);
      width : 90%;
      width : clamp(27rem, 90vw, 50rem);

      .option {

         position: relative;

         a {

            background         : transparent;
            background-size    : 120%;
            background-position: bottom center;
            border-radius      : 1.4rem;
            border             : solid .2rem #0000;
            cursor             : pointer;
            text-decoration    : none;

            position: relative;

            display        : flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            gap: 0;

            font-size: 2rem;
            font-size: clamp(16px, 6vw, 2.5rem);

            list-style: none;

            height: 100%;

            padding: 2rem 0;

            i {

               height: 4.5rem;
               height: clamp(4rem, 5vw, 5rem);
               width : 100%;
               width : clamp(4rem, 5vw, 5rem);

               svg {

                  width : 100%;
                  height: 100%;
               }
            }

            span {

               color: #fff;
            }

            &:hover {

               border: solid .2rem #fff;
            }
         }
      }

      .option--mail {

         a.mail {

            background: var.$email;
            z-index   : 1;
         }

         .mail-info {

            background   : var.$email;
            border       : none;
            border-radius: 100%;
            box-shadow   : 0 0 5px #0003;
            display      : block;

            cursor: help;

            width   : 4.4rem;
            width   : clamp(4rem, 2vw, 6rem);
            height  : 4.4rem;
            height  : clamp(4rem, 2vw, 6rem);
            position: absolute;

            top  : -1rem;
            right: -1rem;

            overflow: hidden;

            svg {

               width : 4rem;
               height: 4rem;
            }
         }

         &:hover button.mail-info {

            display: block;
         }
      }

      a.yt {

         background: var.$youtube;
      }

      a.ig {

         background-image: linear-gradient(to left bottom, var.$ig-one, var.$ig-two, var.$ig-three);

      }

      a.tt {

         background: var.$twitter;
      }

      a.gh {

         background: var.$github;
      }

      a.lkd {

         background: var.$linkedin;
      }


   }
}

@media only screen and (max-width:600px) {

   section#options {

      ul {

         .option--mail {

            .mail-info {

               display: none;
            }
         }
      }
   }
}