//
@use '../components/'as comp;

#options {

   display        : flex;
   justify-content: center;

   animation-delay: .1s;

   ul {

      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows   : 1fr 1fr 1fr;

      gap: 2rem;
      gap: clamp(1rem, 3vw, 2.5rem);

      height    : 45rem;
      min-height: clamp(30rem, 60vh, 50rem);
      width     : 90%;
      width     : clamp(27rem, 90vw, 50rem);

      &::-webkit-scrollbar {

         display: none;
      }
   }

   @include comp.tree-option;
   @include comp.option-colors;

   -webkit-touch-callout: none;
   -webkit-user-select  : none;
   -khtml-user-select   : none;
   -moz-user-select     : none;
   -ms-user-select      : none;
   user-select          : none;
}

@media only screen and (max-width:600px) {

   section#options {

      ul {

         .option--email {

            .info-bubble {

               display: none;
            }
         }
      }
   }
}