//
@keyframes appear {

    from {

        transform: translateY(35px);
        opacity  : 0;
    }

    to {

        transform: translateY(0);
        opacity  : 1;
    }
}

@keyframes desappear {

    from {

        transform: translateY(0);
        opacity  : 1;
    }

    to {

        transform: translateY(35);
        opacity  : 0;
    }
}

@keyframes down-anim {

    from {

        transform: translateY(-50px);
    }

    to {

        opacity  : 1;
        transform: translateY(0);
    }
}

@keyframes start--active {

    from {

        transform: scale(.9);
        opacity  : 0;
    }

    to {

        transform: scale(1);
        opacity  : 1;
    }
}

@keyframes start--inactive {

    from {

        opacity: 1;
    }

    to {

        opacity: 0;
    }
}

@keyframes up-anim {

    from {

        transform: translateY(50px);
    }

    to {

        opacity  : 1;
        transform: translateY(0);
    }
}

@keyframes load {

    0% {

        width: 0%;
        left : 0%;
        right: auto;
    }

    40% {

        width: 100%;
        left : 0%;
        right: auto;
    }

    41% {

        width: 100%;
        left : auto;
        right: 0%;
    }

    99% {

        width: 0%;
        left : auto;
        right: 0%;
    }

    100% {

        width: 0%;
        left : 0%;
        right: auto;
    }
}

.down-anim,
.load-anim,
.start-anim,
.up-anim {

    animation-delay    : .1s;
    animation-duration : .2s;
    animation-fill-mode: backwards;
}

.appear-anim {

    animation-name    : appear;
    animation-delay   : 0;
    animation-duration: .2s;
}

.down-anim {
    animation-name: down-anim;
}

.load-anim {

    animation-name           : load;
    animation-iteration-count: infinite;
    animation-duration       : .5s;
}

.start-anim {
    animation-name: start--active;
}

.up-anim {

    animation-name: up-anim;
}